.light-300-error {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 300;
  color: red;
}
.form-control-lg-error {
  min-height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border: 2px solid rgb(50, 17, 215);
  border-radius: 0.3rem;
}
.text-error {
  font-size: 0.9rem;
  color: red;
}

button:disabled {
  opacity: 0.35;
}

.map-container {
    width: 100%;
    height: 500px;
    padding: 0.5rem;
}

.table-container {
    height: 100%;
    padding: 0 10px 10px 10px;
    overflow: scroll;
}

.table-affected thead {
    margin: 0 10px 10px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.table-affected tbody tr td {
    margin: 0 10px 10px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}